%body
  .SideBar 
    .SideBar__Header
      %h3.SideBar__Header__UserName
        aaaaa
      %ul.SideBar__Header__Icons
        %li.SideBar__Header__Icon1
          =link_to "#" do
            =icon('fas','edit',class: 'icon')
        %li.SideBar__Header__Icon2
          =link_to "#" do
            =icon('fas','cog',class: 'icon')

    .SideBar__GroupList
      .SideBar__GroupList__Name
        ooo
      .SideBar__GroupList__Message
        まだメッセージはありません。
