.SideBar 
  .SideBar__Header
    %h3.SideBar__Header__UserName
      aaaaa
    .SideBar__Header__Icon
      =link_to "#" do
        =icon('fas','edit',class: 'icon')
      =link_to "#" do
        =icon('fas','cog',class: 'icon')

  .SideBar__GroupList
    .SideBar__GroupList__Name
      ooo
    .SideBar__GroupList__Message
      まだメッセージはありません。
